.container{
 
  width: 500px;
  height: 400px;
  margin: 100px 200px 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(63, 58, 58);
  
}
.quantity{
  background-color: rgb(4, 245, 253);
  border-radius: 10px;
  
  box-shadow: 4px 4px 0px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 0px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 0px -2px rgba(0,0,0,0.75);

}
span{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2rem;
 font-weight: bold;
 
 
 
}
input{
  width: 50px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 4px 3px 7px -2px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 4px 3px 7px -2px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 4px 3px 7px -2px rgba(0,0,0,0.75) inset;
  
}
input[type=text]{
  font-size: 20px;
  color: rgb(8, 8, 8);
  text-align: center;
  font-weight: bold;
}
a:active{
  background-color: rgb(36, 31, 31);
  
  transition: 0.5ms;
  columns: white;
  
}
a:hover{
  
  color: rgb(250, 8, 8);
  
}
a{
  cursor: pointer;
  text-decoration: none;

}



